body {
    display: flex;
    background-color: aliceblue;
    /* Light brown background color */
    color: black;
    /* Black text color */
}
*{
    padding: 0%;
    margin: 0%;

}

.sidebar {
    flex-shrink: 0;
    width: 250px;
    height: 100vh;
    background-color: #D2B48c;
    /* Dark sidebar background */
    color: black;
    /* Sidebar text color */
    padding: 0%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border: 1px solid black;
}

.content {
    flex-grow: 1;
    padding-top: 56px;
    /* Offset for the fixed navbar */
}

.navbar-custom {
    border: 1px solid #000;
    /* Black border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Shadow effect */
    background-color: #D2B48c;
    /* Light brown color */
}




.sidebar .nav-link-active:hover {
    border-radius: 10px;
    background-color: white;
    display: inline;
    color: #000;
}

.sidebar .nav-link-active:active {
    border-radius: 10px;
    background-color: white;
    color: #f4a460 !important;
    /* Light brown color when active */
}
.nav-link-active{
    color: #000;
    text-decoration: none;
    padding: 10px 15px;

}

.sidebar .nav-link:focus {
    outline: none;
    /* Remove the default focus outline */
}